/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #f0efef;
  font-size: 26px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
body {
  font-size:16px;
  max-width: 960px;
  margin:0 auto;
}

.container {
  width: 100%;
}

.logo {
  font-size: 3rem;
  font-weight: 800;
}

.hamburger{
  display:none;
}

header {
  background: #033048;
  padding: 25px 0;
  overflow: hidden;
}

header .logo {
  color: #fff;
  float: left;
}

header nav {
  float: right;
  margin-top: 15px;
}
header nav ul li {
  display: inline-block;
  margin: 0 1.5rem 0 0;
  font-size: 1.5rem;
}
header nav ul li a {
  color: #f9e42e;
}

#hero {
  width:100%;
  background: url(../images/header_bg.jpg) no-repeat top center #131e27;
  padding-top: 2rem;
  padding-bottom:5rem;
}

#hero .logo {
  color: #fff;
}
#hero h2 {
  font-size: 3rem;
  text-align: center;
  color: #fff;
  margin: 5rem 0 5rem 0;
  font-weight: 600;
}
.button {
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 280px;
  font-size: 2rem;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.yellow {
  background: #f9e42e;
  color: #033048;
}
.blue {
  background: #033048;
  color: #fff;
  font-size: 1.5rem;
}
#benefits {
  width:100%;
  padding: 3rem 0 3rem;
}

#benefits .container{
  padding:0 1rem 0 1rem;
}
h3 {
  color: #033048;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
#benefits p, #benefits li {
  width: 100%;
}
#benefits ul {
  list-style: disc;
  margin: 2rem 0 0 5rem;
}
#testimonial {
  background: url(../images/testimonial_bg.jpg) no-repeat top center #071324;
  padding: 5rem 2rem 5rem 2rem;
  color: #fff;
}
blockquote {
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
blockquote span {
  font-weight: 600;
  display: block;
  font-style: normal;
}
#main {
  margin-top: 3rem;
}
#posts {
  width: 72.5%;
  margin-right:2.5%;
  display: inline-block;
  vertical-align: top;
}
#sidebar {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}
.post {
  border-bottom: 1px solid #043049;
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;
}
.post h2 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.3;
  margin-bottom: 2.5rem;
}
.post h2 a {
  color: #043049;
}

.post img {
  max-width:100%;
  height:auto;
  margin-bottom: 2.5rem;
}
.post p {
  font-size: 1.5rem;
  line-height: 1.333;
  color: #606161;
}
.post p:first-of-type:first-letter {
  float: left;
  font-size: 5rem;
  line-height: 5rem;
  padding-top: 0.25rem;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  font-weight: 600;
}
.readmore {
  text-align: right;
  margin-top: 2.5rem;
}
.readmore a {
  color: #043049;
  font-weight: 600;
}

/*.button {
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 280px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.yellow {
  background: #f9e42e;
  color: #033048;
}
.blue {
  background: #033048;
  color: #fff;
  font-size: 24px;
}*/

#sidebar h3 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
  color: #043049;
}
#sidebar ul {
  margin-bottom: 2rem;
}
#sidebar ul li a {
  color: #043049;
  font-size: 1.5rem;
}
#sidebar p {
  font-size: 1.2rem;
  line-height: 1.1;
  margin-bottom: 2rem;
}
#sidebar p a {
  color: #043049;
  font-weight: 600;
}


#bottom-cta {
  background: #f9e42e;
  padding: 2rem;
  text-align: center;
}

footer {
  background: #121212;
  padding: 2rem 0 2rem 0;
  text-align: center;
}
footer .logo {
  color: #f9e42e;
  margin-bottom: 2rem;
}
footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0 1rem 2rem 0;
}
footer p {
  font-size: 1rem;
  color: #fff;
  font-weight: 300;
}

@media only screen and (max-width:768px){
  header nav ul li{
    font-size:1.4rem;
    margin:0 1rem 0 0;
  }

  #hero .container {
    padding:0 2rem 0 2rem;
  }

  #hero h2{
    font-size:2.5rem;
  }

  #testimonial blockquote{
    font-size:1.5rem;
  }

  #posts{
    width:100%;
    margin-right:0;
  }

  .post h3 {
    font-size:2.25rem;
  }

  .post p{
    font-size:1.25rem;
  }

  #sidebar{
    width:100%;
  }

  #sidebar .categories{
    width:35%;
    display:inline;
    float:left;
    vertical-align: top;
    padding:0 1.5rem 0 1.5rem;
  }

  #sidebar .about{
    width:60%;
    margin-left:5%;
    display:inline;
    float:right;
    vertical-align: top;
    padding:0 1.5rem 0 1.5rem;
  }

  #sidebar .ads {
    width:100%;
    clear:both;
  }
}

@media only screen and (max-width:480px){
  header nav ul{
    display:none;
  }
  #hero h2{
    font-size:2rem;
  }

  .button{
    font-size: 1.5rem;
  }
  #testimonial blockquote {
    font-size: 1.2rem;
  }

  .hamburger{
    background-color:#f9e42e;
    display:inline-block;
    float:right;
    font-size:2rem;
    border:0;
    margin-right:5%;
    margin-top:9.5px;
  }

  .post h2{
    font-size:2rem;
    line-height: 1.3;
  }

  .post p{
    font-size:1rem;
    line-height: 1.3;
  }

  #sidebar .categories{
    width:100%;
    display:block;
    float:none;
    padding:0 20% 0 20%;
    margin:0;
  }

  #sidebar h3{
    font-size:1.75rem;
  }

  #sidebar ul li a {
    color: #043049;
    font-size: 1.2rem;
  }

  #sidebar p {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 2rem;
  }

  #sidebar .about{
    width:100%;
    display:block;
    float:none;
    padding:0 20% 0 20%;
    margin:0;
  }

  #sidebar .ads {
    padding:0 20% 0 20%;
  }
}